Library/
Logs/
obj/
Temp/
UnityVS*
Assembly*proj
unity*.sln
unity*.suo
*.unitypackage

*.csproj
*.csproj.user
*.sln
.vs/
/ProjectSettings/ProjectVersion.txt
/截图
/Assets/Shaders/*.gl
/Assets/Shaders/*.gl.meta
/Assets/Shaders/*.bak
/Assets/Shaders/*.bak.meta
/Assets/StreamingAssets/*.txt
/Assets/StreamingAssets/*.txt.meta